<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Smoothies Competition</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <div class="container">
    <div class="slots">
      <div class="reel"></div>
      <div class="reel"></div>
      <div class="reel"></div>
    </div>

    <div id="debug" class="debug"></div>
    <div  id="spinBtn">
      <ion-button  (click)="onSpinClick($event)">
        Spin
      </ion-button>
    </div>

  </div>


</ion-content>
